/******** Font Related variables **********/

//font family

$font-stack-nunito: 'Nunito', sans-serif;

//font weights

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-semibold: 700;
$font-weight-extrabold: 800;
$font-weight-normal: normal;

/******** Color Related variables **********/

$bg-color-100: #1a202c;
$color-100: #cbd5e0;
