<!DOCTYPE html>
<html class="scroll-smooth" {% if section %} data-current="{{ section }}"{% endif %} lang="en">
    {% include "layouts/components/head.njk" %}
    <body>
        <a href="#main-content" class="skip-link">Skip to main content</a>
        <main id="main-content" class="container">
            {% block content %}
                {{ content | safe }}
            {% endblock content %}
        </main>
        <footer>
            <span>&copy; {% year %} <a href="https://vranjan.dev/">Vinay Ranjan</a></span>
            <span>&middot; All rights reserved.</span>
        </footer>
    </body>
</html>
