<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
    </head>
    <body style="background: black;color: white;text-align: center;margin: 20rem;font-family: system-ui;">
        <h1>{{ title }}</h1>
        <p>This is where you should tell the user how to find their content. Maybe on the <a style="margin-left: 5px;text-decoration: underline;text-underline-position: under;color: yellow;" href="{{ "/" | url }}">home page?</a>
        </p>
    </body>
</html>