<!DOCTYPE html>
<html class="scroll-smooth" {% if section %} data-current="{{ section }}"{% endif %} lang="en">
    {% include "layouts/components/head.njk" %}
    <body>
        <div class="container" role="main">
            {% block content %}
                {{ content | safe }}
            {% endblock content %}
        </div>
        <footer>
            <i class="far fa-copyright"></i> 2023
            <span>
                <a href="https://vranjan.dev/">VR</a>All rights reserved.
            </span>
        </footer>
    </body>
</html>