<article class="card">
    <a class="card__link" href="{{ post.url }}">{{ post.data.title }}</a>
    {% if showDescription and post.data.description %}
        <p class="card__description">{{ post.data.description }}</p>
    {% endif %}
    <div class="card__topics tag-post">{{ post.data.topics }}</div>
</article>
