<article class="card">
    <a class="card__link" href="{{ post.url }}">{{ post.data.title }}</a>
    {% if showDescription and post.data.description %}
        <p class="card__description">{{ post.data.description }}</p>
    {% endif %}
    {% if post.data.type == 'resource' %}
        <a class="card__topics tag-post" href="{{ '/resources/' | url }}">Resource</a>
    {% elif post.data.topicsList and post.data.topicsList.length %}
        <div class="card__topics">
            {% for topic in post.data.topicsList %}
                <a class="tag-post" href="{{ '/topics/' + (topic | slug) + '/' | url }}">{{ topic }}</a>
            {% endfor %}
        </div>
    {% endif %}
</article>
