<meta charset="utf-8">
<meta name="author" content="Vinay Ranjan"/>
<meta name="description" content="{{ title or metadata.title }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="twitter:description" content="{{ title or metadata.title }}"/>
<meta name="twitter:title" content="{{ title or metadata.title }}"/>
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta name="description" content="{{ renderDescription | truncate(150) }}">
<meta name="keywords" content="{{ renderKeywords }}">
<meta property="og:site_name" content="{{ metadata.siteName }}"/>
<meta property="og:type" content="website">
<meta property="og:title" content="{{ renderTitle }}"/>
<meta property="og:locale" content="{{ metadata.locale }}"/>
<meta property="og:url" content="{{ metadata.url }}"/>
<meta property="og:description" content="{{ renderDescription }}"/>
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@_vranjan">
<meta name="twitter:creator" content="@_vranjan">
<meta name="twitter:title" content="{{ metadata.url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@_vranjan">
<meta name="twitter:creator" content="@_vranjan">