---
layout: layouts/base-home.njk
---

{% include 'layouts/components/breadcrumbs.njk' %}
<div class="post">
    <h1 class="post__heading">{{ title }}</h1>
    {% if description %}<p class="post__description">{{ description }}</p>{% endif %}
    {% include 'layouts/components/article-meta.njk' %}
    {% include 'layouts/components/toc.njk' %}
    <div class="post__content">{{ content | safe }}</div>
    <div class="post__cta">
        <p class="post__cta-text">If you found this helpful, share it with someone who's building for the web.</p>
        <p class="post__cta-author">- {{ metadata.author.name }}</p>
    </div>
</div>
{% include 'layouts/components/related-content.njk' %}
{% include 'layouts/components/getNextPost.njk' %}
