---
permalink: /_redirects
eleventyExcludeFromCollections: true
---
/posts/:slug/ /:slug/ 301
{%- for post in collections.post %}
{%- if post.data.type != 'resource' and post.data.topicsList and post.data.topicsList.length %}
/{{ post.data.title | slug }}/ {{ post.url }} 301
{%- endif %}
{%- endfor %}
